
                ####### BLOCK DIRECTORY LISTING #########
Options -Indexes
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !\.(gif|jpe?g|png|js|css|swf|ico|pdf|woff|eot|ttf|svg)$
RewriteRule .*  runtime/index.php?url=$0 [QSA,L]
