
                ####### BLOCK DIRECTORY LISTING #########
Options -Indexes

RewriteEngine On



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l


#RewriteRule ^admin/$ index.php?url=admin/dashbord [QSA,L]
#RewriteRule ^(.+) reservation/index.php [QSA,L]

RewriteRule ^template/  template/index.php [QSA,L]
RewriteRule ^admin/  runtime/index.php?url=admin/dashbord  [QSA,L]